[flake8]
max-line-length = 127
max-complexity = 10
exclude = 
    .git,
    __pycache__,
    venv,
    test_env,
    webapp/node_modules,
    .pytest_cache
ignore = 
    E203,
    W503,
    E501,
    W293,
    W291,
    W292,
    C901,
    E302,
    E305,
    E231,
    E222,
    E226,
    E225,
    E131,
    E128,
    F541
per-file-ignores =
    tests/*:F401,F811